<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <button class="btn">防抖</button> <br />
  <br />
  <br />
  <button class="btn2">节流</button>
</body>
<script>
  // 防抖动和节流本质是不一样的。防抖动是将多次执行变为最后一次执行，节流是将多次执行变成每隔一段时间执行
  let btn = document.querySelector(".btn");
  let btn2 = document.querySelector(".btn2");
  btn.addEventListener("click", debounce(handleClick, 1000));
  btn2.addEventListener("click", throttle(handleClick, 2000));

  function handleClick() {
    console.log(123)
  }
  // 节流
  function throttle(fn, wait) {
    let lastTime = 0;
    return function (...args) {
      let now = +new Date();
      if(now - lastTime > wait) {
        lastTime = now;
        fn.apply(this, args);
      }
    } 
  }
  // 防抖
  function debounce(fn, wait) {
    let time = null;
    return function (...args) {
      if (time) clearTimeout(time);
      time = setTimeout(() => {
        fn.apply(this, args)
      }, wait);
    }
  }

</script>

</html>
